

{% include "MaciOrderBundle:Default:_show.html.twig" with { 'order': cart, 'edit': true } %}


{% if cart and cart.items|length %}

<div class="checkout-options">

	{% if cart.items|length < 4 %}
	<div class="row">

		<h3>{{ 'page.cart.pickup' | matra('Pickup In Store') }}</h3>
		<p>{{ 'page.cart.pickup.description' | matra('Reserve the order and then get it in our store.') }}</p>

		{{ render(controller('MaciOrderBundle:Default:cartSetCheckout', {'checkout': 'pickup'})) }}

	</div>
	{% endif %}

	<div class="row">

		<h3>{{ 'page.cart.checkout' | matra('Checkout') }}</h3>
		<p>{{ 'page.cart.checkout.description' | matra('Pay the order and get it at home.') }}</p>

		{{ render(controller('MaciOrderBundle:Default:cartSetCheckout')) }}

	</div>

</div>

{% endif %}
