
{% set i = 0 %}

<div class="page">


<section class="page_header page_container row">

{% if order.checkout == 'pickup' %}

<h3>{{ 'page.cart.pickup' | matra('Pickup In Store') }}</h3>

{% else %}

<h3>{{ 'page.cart.checkout' | matra('Checkout') }}</h3>

{% endif %}

{% if is_granted('ROLE_USER') %}

<h4>You are ordering as {{ app.user.username }}</h4>

{% else %}

<h4>You are ordering with this e-mail address: {{ order.mail }} ( <a href="{{ path('maci_order_gocheckout', {'edit': true}) }}">Change Email</a> )</h4>

{% endif %}

</section>


{% if order.items|length %} {# --- Valid Checkout (^^) ---  #}


<section class="page_content page_container row">

	{{ render(controller('MaciOrderBundle:Default:showOrder', {'order': order})) }}

</section>


{% if checkout is defined and checkout %}

{% if checkout.billingAddress %} {# --- Billing Address ---  #}
{% set i = i + 1 %}

{% if checkout.billingAddress == 'set' %}

<section class="page_content page_container row active">

	<h4>{{ i }} - {{ 'page.checkout.billing' | matra('Billing') }}</h4>

	{% render(controller('MaciAddressBundle:Default:list', { 'select': path('maci_order_checkout_set_address', {'option': 'billing'}) } )) %}

	<br/><br/>

	{% if not order.checkShipment or order.checkout == 'pickup' or order.checkout == 'booking' or order.shippingAddress is not null %}

	{% render(controller('MaciAddressBundle:Default:form', {'id': null, 'method': path('maci_order_checkout_set_address', {'option': 'billing'})})) %}

	{% else %}

	{%
		render(controller('MaciAddressBundle:Default:form', {
			'id': null,
			'method': {
				'The Billing Address is the same as that of Shipment.': path('maci_order_checkout_set_address', {'option': 'both'}),
				'The Billing Address is different from that of Shipment.': path('maci_order_checkout_set_address', {'option': 'billing'})
			}
		} ))
	%}

	{% endif %}

</section>

{% elseif checkout.billingAddress == 'setted' %}

<section class="page_content page_container row setted">

	<h4>{{ i }} - {{ 'page.checkout.billing_to' | matra('Billing To') }}</h4>

	{% include "MaciAddressBundle:Default:_item.html.twig" with { 'address': order.billingAddress } %}

	<a href="{{ path('maci_order_checkout', {'id': order.id,'checkout':'billingAddress'}) }}" class="btn btn-success">{{ 'form.edit' | matra('Edit') }}</a>

</section>

{% elseif checkout.billingAddress == 'toset' %}

<section class="page_content page_container row">

	<h4>{{ i }} - {{ 'page.checkout.set_billing' | matra('Set Billing') }}</h4>

</section>

{% endif %}

{% endif %} {# --- End Billing Address ---  #}


{% if checkout.shippingAddress %} {# --- Shipping Address ---  #}
{% set i = i + 1 %}

{% if checkout.shippingAddress == 'set' %}

<section class="page_content page_container row">

	<h4>{{ i }} - {{ 'page.checkout.shipping' | matra('Shipping Address') }}</h4>

	{% render(controller('MaciAddressBundle:Default:list', { 'select': path('maci_order_checkout_set_address', {'option': 'shipping'}) } )) %}

	<br/><br/>

	{% render(controller('MaciAddressBundle:Default:form', {'id': null, 'method': path('maci_order_checkout_set_address', {'option': 'shipping'})})) %}

</section>

{% elseif checkout.shippingAddress == 'setted' %}

<section class="page_content page_container row setted">

	<h4>{{ i }} - {{ 'page.checkout.shipping_to' | matra('Shipping To') }}</h4>

	{% include "MaciAddressBundle:Default:_item.html.twig" with { 'address': order.shippingAddress } %}

	<a href="{{ path('maci_order_checkout', {'id': order.id,'checkout':'shippingAddress'}) }}" class="btn btn-success">{{ 'form.edit' | matra('Edit') }}</a>

</section>

{% elseif checkout.shippingAddress == 'toset' %}

<section class="page_content page_container row">

	<h4>{{ i }} - {{ 'page.checkout.set_shipping' | matra('Set Shipping Address') }}</h4>

</section>

{% endif %}

{% endif %} {# --- End Shipping Address ---  #}


{% if checkout.shipping %} {# --- Shipping Method ---  #}
{% set i = i + 1 %}

{% if checkout.shipping == 'set' %}

<section class="page_content page_container row active">

	<h4>{{ i }} - {{ 'page.checkout.shipping' | matra('Shipping Method') }}</h4>

	{% render(controller('MaciOrderBundle:Default:cartSetShipping')) %}

</section>

{% elseif checkout.shipping == 'setted' %}

<section class="page_content page_container row setted">

	<h4>{{ i }} - {{ 'page.checkout.shipping_to' | matra('Shipping Method') }}</h4>

	<span>{{ order.shippingLabel }}</span>

	<br/><br/>

	<a href="{{ path('maci_order_checkout', {'id': order.id,'checkout':'shipping'}) }}" class="btn btn-success">{{ 'form.edit' | matra('Edit') }}</a>

</section>

{% elseif checkout.shipping == 'toset' %}

<section class="page_content page_container row">

	<h4>{{ i }} - {{ 'page.checkout.set_shipping' | matra('Set Shipping Method') }}</h4>

</section>

{% endif %}

{% endif %} {# --- End Shipping Method ---  #}


{% if checkout.payment %} {# --- Payment ---  #}
{% set i = i + 1 %}

{% if checkout.payment == 'set' %}

<section class="page_content page_container row active">

	<h4>{{ i }} - {{ 'page.checkout.payment' | matra('Select Payment') }}</h4>

	{% render(controller('MaciOrderBundle:Default:cartSetPayment')) %}

</section>

{% elseif checkout.payment == 'setted' %}

<section class="page_content page_container row setted">

	<h4>{{ i }} - {{ 'page.checkout.payment_to' | matra('Payment') }}</h4>

	<span>{{ order.paymentLabel }}</span>

	<br/><br/>

	<a href="{{ path('maci_order_checkout', {'id': order.id,'checkout':'payment'}) }}" class="btn btn-success">{{ 'form.edit' | matra('Edit') }}</a>

</section>

{% elseif checkout.payment == 'toset' %}

<section class="page_content page_container row">

	<h4>{{ i }} - {{ 'page.checkout.set_payment' | matra('Set Payment') }}</h4>

</section>

{% endif %}

{% endif %} {# --- End Payment ---  #}


{% if checkout.confirm %} {# --- Confirm ---  #}
{% set i = i + 1 %}

{% if checkout.confirm == 'set' %}

<section class="page_content page_container row active">

	<h4>{{ i }} - {{ 'page.checkout.confirm' | matra('Confirm Order') }}</h4>

	<a href="{{ path('maci_order_checkout_confirm') }}" class="btn btn-primary">{{ 'page.checkout.confirm' | matra('Confirm Order') }}</a>

</section>

{% elseif checkout.confirm == 'toset' %}

<section class="page_content page_container row">

	<h4>{{ i }} - {{ 'page.checkout.confirm' | matra('Confirm Order') }}</h4>

</section>

{% endif %}

{% endif %} {# --- End Confirm ---  #}



{% endif %} {# --- Checkout Defined ---  #}



{% else %} {# --- InValid Checkout ---  #}

<div class="row">

	<p>{{ 'page.no_content' | matra('No Content.') }}</p>

</div>

{% endif %} {# --- EndIf Checkout ---  #}

</div>
