
<form class="maci_order_form" action="{{ form.vars.action }}" method="post" name="form">

	<div class="form-group">
    	{{ form_errors(form) }}
	</div>

	<div class="form-group">

		{% set map = form.map.vars.value %}

		{% for k0, i0 in map %}

			{% for k1, i1 in i0 if i0 is iterable %}

				{% for k2, i2 in i1 if i1 is iterable %}

					{% for k3, i3 in i2 if i2 is iterable %}

						<input type="hidden" name="form[map][{{ k0 }}][{{ k1 }}][{{ k2 }}][{{ k3 }}]" value="{{ i3 }}" />

					{% else %}

						<input type="hidden" name="form[map][{{ k0 }}][{{ k1 }}][{{ k2 }}]" value="{{ i2 }}" />

					{% endfor %}

				{% else %}

					<input type="hidden" name="form[map][{{ k0 }}][{{ k1 }}]" value="{{ i1 }}" />

				{% endfor %}

			{% else %}

				<input type="hidden" name="form[map][{{ k0 }}]" value="{{ i0 }}" />

			{% endfor %}

		{% endfor %}


		{% if confirm is defined and confirm == 'confirm' %}

		<input type="hidden" name="form[map][confirm]" value="confirm" />

		{% endif %}


    	{{ form_widget(form.add, {'attr': {'class': 'btn btn-default'}}) }}

		{{ form_row(form._token) }}


	</div>

</form>
