
<form class="maci_cart_add_product" action="{{ path('maci_order_cart_add', {'product': product.id}) }}" method="post">

<div class="form-group">
	{{ form_errors(form) }}
</div>

{{ form_row(form.quantity) }}
{{ form_row(form._token) }}

<button id="cart_add_product_item_add_to_cart" class="btn-primary btn" type="submit" name="cart_add_product_item[add_to_cart]">{{ 'product.add_to_cart' | matra('Add to cart') }}</button>

</form>
