
<section class="cart-list">

<div class="row">

	<h3>{{ 'menu.user.cart' | matra('My Cart') }}</h3>

</div>


{% if order and order.items|length %}


<div class="row">

	<div class="col-xs-3">
		<span class="order-show-title">{{ 'product.item_name' | matra('Product Name') }}</span>
	</div>

	<div class="col-xs-3">
		<span class="order-show-title">{{ 'product.variants' | matra('Variants') }}</span>
	</div>

	<div class="col-xs-4">
		<span class="order-show-title">{{ 'product.quantity' | matra('Quantity') }}</span>
	</div>

	<div class="col-xs-2">
		<span class="order-show-title">{{ 'product.price' | matra('Price') }}</span>
	</div>

	<div class="col-xs-1">
		&nbsp;
	</div>

</div>


{% for item in order.items %}

{% if item.id %}
{% set id = item.id %}
{% else %}
{% set id = loop.index0 %}
{% endif %}

<div class="row">

	<div class="col-xs-3">

		{% if edit is defined and edit %}
		<a class="order-item-name" href="{{ path('maci_product_show', { 'id': item.product.id }) }}">
			{{ item.product }}
		</a>
		{% else %}
		<span class="order-item-name">{{ item.product }}</span>
		{% endif %}

	</div>

	<div class="col-xs-3">

		{% for variant in item.variants %}
		<span class="order-item-variant">- {{ variant }}</span><br/>
		{% endfor %}

	</div>

	<div class="col-xs-4">
		{% if edit is defined and edit %}
		<form class="form-inline order-item-quantity-form" action="{{ path('maci_order_edit_cart_item', {'id': id}) }}" method="post">
			<div class="form-group">
				<input type="text" class="form-control edit-quantity-field" name="quantity"  value="{{ item.quantity }}" />
				<input type="submit" class="btn btn-success" value="{{ 'form.edit' | matra('Edit') }}" />
			</div>
		</form>
		<a class="btn btn-danger" href="{{ path('maci_order_remove_cart_item', {'id': id}) }}">{{ 'form.remove' | matra('Remove') }}</a>
		{% else %}
		<span class="order-item-quantity">{{ item.quantity }}</span>
		{% endif %}
	</div>

	<div class="col-xs-2">
		<span class="order-item-amount">
			{{ item.amount }} &euro;
		</span>
	</div>

</div>

{% endfor %}


<div class="row">

	<div class="col-xs-3">
		&nbsp;
	</div>

	<div class="col-xs-3">
		&nbsp;
	</div>

	<div class="col-xs-4">
		<span class="order-amount-label">{{ 'order.amount' | matra('Amount') }}</span>
	</div>

	<div class="col-xs-2">
		<span class="order-amount-value">{{ order.amount }} &euro;</span>
	</div>

</div>


{% else %}

<div class="row">
	<h3 class="noitems">No Items.</h3>
</div>

{% endif %}


</section>

