

{% if order and order.items|length %}


{% for item in order.items %}

<div class="row">

	<div class="col-xs-3">

	<a href="{{ path('maci_product_show', { 'id': item.product.id }) }}">
		{{ item.product }}
	</a>

	</div>

	<div class="col-xs-3">
		<p>
			{{ item.quantity }}
		</p>
	</div>

	<div class="col-xs-3">

		{% for variant in item.variants %}

		<span>{{ variant }}</span>

		{% endfor %}

	</div>

	<div class="col-xs-3">
		<p>
			{{ item.product.price }} &euro;
		</p>
	</div>

</div>

{% endfor %}

<div class="row">

	<div class="col-xs-8">

	</div>

	<div class="col-xs-4">
		<span>Amount: {{ order.amount }} &euro;</span>
	</div>

</div>


{% else %}

<div class="row">

	<h3 class="noitems">No Items.</h3>

</div>

{% endif %}

