
<section class="cart-list">

<div class="row">

	<div class="col-xs-12">

		<h3>{{ 'menu.user.cart' | matra('My Cart') }}</h3>

	</div>

</div>


{% if order and order.items|length %}


<div class="row">

	<div class="col-xs-4">
		<span class="order-show-title">{{ 'product.item_name' | matra('Product Name') }}</span>
	</div>

	<div class="col-xs-3">
		<span class="order-show-title">{{ 'product.variants' | matra('Variants') }}</span>
	</div>

	<div class="col-xs-4">
		<span class="order-show-title">{{ 'product.quantity' | matra('Quantity') }}</span>
	</div>

	<div class="col-xs-1">
		<span class="order-show-title">{{ 'product.price' | matra('Price') }}</span>
	</div>

</div>


{% for item in order.items %}

{% if item.id %}
{% set id = item.id %}
{% else %}
{% set id = loop.index0 %}
{% endif %}

<div class="row">

	<div class="col-xs-4">

		{% if edit is defined and edit %}
		<a class="order-item-name" href="{{ path('maci_product_show', { 'id': item.product.id }) }}">
			{{ item.product }}
		</a>
		{% else %}
		<span class="order-item-name">{{ item.product }}</span>
		{% endif %}

	</div>

	<div class="col-xs-3">

		{% for variant in item.variants %}
		{% if variant.parent %}
		<span class="order-item-variant">{{ variant.parent }}: {{ variant }}</span><br/>
		{% else %}
		<span class="order-item-variant">- {{ variant }}</span><br/>
		{% endif %}
		{% endfor %}

	</div>

	<div class="col-xs-4">
		{% if edit is defined and edit %}
		{% render(controller('MaciOrderBundle:Default:editCartItem', { 'id': id, 'quantity': item.quantity } )) %}
		{% render(controller('MaciOrderBundle:Default:removeCartItem', { 'id': id } )) %}
		{% else %}
		<span class="order-item-quantity">{{ item.quantity }}</span>
		{% endif %}
	</div>

	<div class="col-xs-1">
		<span class="order-item-amount">
			{{ item.amount | number_format(2, '.', ',') }} &euro;
		</span>
	</div>

</div>

{% endfor %}


<div class="row">

	<div class="col-xs-5">
		&nbsp;
	</div>

	<div class="col-xs-2">
		&nbsp;
	</div>

	{% if edit is defined and edit %}

	<div class="col-xs-4">
		<span class="order-amount-label">{{ 'order.subtotal' | matra('SubTotal') }}</span>
	</div>

	{% else %}

	<div class="col-xs-4">
		<span class="order-amount-label">{{ 'order.amount' | matra('Amount') }}</span>
	</div>

	{% endif %}

	<div class="col-xs-1">
		<span class="order-amount-value">{{ order.amount | number_format(2, '.', ',') }} &euro;</span>
	</div>

</div>


{% else %}

<div class="row">
	<h3 class="noitems">No Items.</h3>
</div>

{% endif %}


</section>

