

{% if order and order.items|length %}


{% for item in order.items %}

<div class="row">

	<div class="col-xs-6">

		<a class="order-item-name" href="{{ path('maci_product_show', { 'id': item.product.id }) }}">
			{{ item.product }}
		</a>

		{% for variant in item.variants %}

		<br/>
		<span class="order-item-variant">- {{ variant }}</span>

		{% endfor %}

	</div>

	<div class="col-xs-3">
		{% if edit is defined and edit %}
		<form class="form-inline order-item-form" action="{{ path('maci_order_edit_cart_item', {'id': item.id}) }}" method="post">
			<div class="form-group">
				<input type="text" class="form-control edit-quantity-field" name="quantity"  value="{{ item.quantity }}" />
				<input type="submit" class="btn btn-success" value="Edit" />
			</div>
		</form>
		{% else %}
		<span class="order-item-quantity">{{ item.quantity }}</span>
		{% endif %}
	</div>

	<div class="col-xs-2">
		<span class="order-item-amount">
			{{ item.amount }} &euro;
		</span>
	</div>

	<div class="col-xs-1">
		<a class="btn btn-danger" href="{{ path('maci_order_remove_cart_item', {'id': item.id}) }}">Remove</a>
	</div>

</div>

{% endfor %}


<div class="row">

	<div class="col-xs-6">
		&nbsp;
	</div>

	<div class="col-xs-3">
		<span class="order-amount-label">Amount:</span>
	</div>

	<div class="col-xs-2">
		<span class="order-amount-value">{{ order.amount }} &euro;</span>
	</div>

	<div class="col-xs-1">
		&nbsp;
	</div>

</div>

{% else %}

<div class="row">
	<h3 class="noitems">No Items.</h3>
</div>

{% endif %}

