

{% if order and order.items|length %}


{% for item in order.items %}

<div class="row">

	<div class="col-xs-3">

	<a href="{{ path('maci_product_show', { 'id': item.product.id }) }}">
		{{ item.product }}
	</a>

	</div>

	<div class="col-xs-3">
		{% if edit is defined and edit %}
		<form class="form-inline" action="{{ path('maci_order_edit_cart_item', {'id': item.id}) }}" method="post">
			<div class="form-group">
				<input type="text" class="form-control edit-quantity-field" name="quantity"  value="{{ item.quantity }}" />
				<input type="submit" class="btn btn-success" value="Edit" />
			</div>
		</form>
		{% else %}
		<p>{{ item.quantity }}</p>
		{% endif %}
	</div>

	<div class="col-xs-3">

		{% for variant in item.variants %}

		<span>{{ variant }}</span>

		{% endfor %}

	</div>

	<div class="col-xs-2">
		<p>
			{{ item.product.price }} &euro;
		</p>
	</div>

	<div class="col-xs-1">
		<a class="btn btn-danger" href="{{ path('maci_order_remove_cart_item', {'id': item.id}) }}">Remove</a>
	</div>

</div>

{% endfor %}


<div class="row">

	<div class="col-xs-8">

	</div>

	<div class="col-xs-4">
		<span>Amount: {{ order.amount }} &euro;</span>
	</div>

</div>

{% else %}

<div class="row">
	<h3 class="noitems">No Items.</h3>
</div>

{% endif %}

