
{% extends "MaciOrderBundle::layout.html.twig" %}


{% block title %}

{{ 'order.show.meta_title' | matra('Show Order') }}: {{ order.name }}

{% endblock %}


{% block content %}

<h3>{{ 'order.show_title' | matra('Order Details') }}</h3>

<h4>{{ 'order.code' | matra('Order Identifier') }}: {{ order.code }}</h4>

{% include "MaciOrderBundle:Default:_show_addresses.html.twig" with { 'order': order } %}

<h4>{{ 'order.items' | matra('Order Items') }}</h4>

{% include "MaciOrderBundle:Default:_show.html.twig" with { 'order': order, 'edit': edit } %}

{% endblock %}
