<html>
<head>
<style type="text/css">

body {
	background-color: #e6e6e6;
	font-family: 'Gill Sans';
	margin: 0;
}

table {
	margin: 0;
	padding: 0;
	text-align: left;
}

.main {
	background-color: #fff;
	margin: 0 auto;
	padding: 0 20px;
	width: 600px;
}

.main > tbody > tr > td {
	padding: 10px 0;
}

td > table {
	width: 100%;
}

</style>
</head>
<body>
<table class="main">
<tbody>

<tr>
	<td class="header">

		<table>
			<tr>
				<td class="logo">
					<img src="{{ asset('/images/logo.png', null, true) }}" />
				</td>
				<td class="title">
					<h1>{{ company_title }}</h1>
				</td>
			</tr>
		</table>

	</td>
</tr>


<tr>
	<td class="order-status">
		<h4>Dear Customer,</h4>
		<p>you order has been confirmed.</p>
		<span>Order Code: {{ order.code }}</span><br/>
		<span>Order Status: {{ order.statusLabel }}</span>
	</td>
</tr>


{#% if order.billingAddress is not null %}

<tr>
	<td class="address">
		<h3>Payment Address:</h3>
		{% include "MaciAddressBundle:Default:_item.html.twig" with { 'address': order.billingAddress } %}
	</td>
</tr>

{% endif %#}


{% if order.shippingAddress is not null %}

<tr>
	<td class="address">
		<h3>Shipping Address:</h3>
		{% include "MaciAddressBundle:Default:_item.html.twig" with { 'address': order.shippingAddress } %}
	</td>
</tr>

{% endif %}


<tr>
<td class="details">

	<h3>Order Details:</h3>

	<table>

		{# HEADER #}
		<tr>
			<td>&nbsp;</td>
			<th>Product</th>
			<th>Quantity</th>
			<th>Price</th>
		</tr>

		{# ORDER ITEMS #}
		{% for item in order.items %}
		{% if item.product %}
		<tr>
			<td>
				{% if item.product.preview %}
				<img src="{{ asset(item.product.preview.webPreview | imagine_filter('maci_product_preview_list'), null, true) }}">
				{% else %}
				<img src="{{ asset('/images/defaults/no-icon.png' | imagine_filter('maci_product_preview_list'), null, true) }}">
				{% endif %}
			</td>
			<td>
				{{ item.product }}<br/>
				{% for variant in item.variants %}
				<span>{{ variant }}</span>
				{% endfor %}
			</td>
			<td>
				{{ item.quantity }}
			</td>
			<td>
				{{ item.amount | number_format(2, '.', ',') }} &euro;
			</td>
		</tr>
		{% endif %}
		{% endfor %}

		{# SHIPPING COST #}
		{% if order.checkShipment and order.shippingCost %}
		<tr>
			<td>&nbsp;</td>
			<td>Shipping Cost:</td>
			<td>&nbsp;</td>
			<td>{{ order.shippingCost | number_format(2, '.', ',') }} &euro;</td>
		</tr>
		{% endif %}

		{# PAYMENT COST #}
		{% if order.paymentCost %}
		<tr>
			<td>&nbsp;</td>
			<td>Payment Cost:</td>
			<td>&nbsp;</td>
			<td>{{ order.paymentCost | number_format(2, '.', ',') }} &euro;</td>
		</tr>
		{% endif %}


		<tr>
			<td>&nbsp;</td>
			<td>Amount:</td>
			<td>&nbsp;</td>
			<td>{{ order.amount | number_format(2, '.', ',') }} &euro;</td>
		</tr>

	</table>

</td>
</tr>


{% if order.orderDocuments|length and 3 < order.progression %}

<tr>
	<td>
		<h3>E-Books:</h3>
		{% if order.user %}
		<table>
			{% for item in order.orderDocuments %}
			<tr>
				<td>- {{ item }}</td>
				<td><a href="{{ path('maci_media_get', {'path': item.path}) }}">Get E-Book</a></td>
			</tr>
			{% endfor %}
		</table>
		<p>You can see all your ebooks in <a href="{{ path('maci_user_library') }}">Your Library</a></p>
		{% else %}
		<p>You should find your ebooks attached to this mail. If not, contact us.</p>
		{% endif %}
	</td>
</tr>

{% endif %}


<tr>
<td>

	<h3>Contact us for more informations:</h3>

	{% include "MaciPageBundle:Default:_contacts.html.twig" %}

</td>
</tr>

</tbody>
</table>
</body>
</html>
